.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    border: 4px solid black;
}

.body {
    display: flex;
    justify-content: center;
}

